body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: grey;
}

.h1{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 20px;
    background-color: black;
}
.h2{
    text-align: center;
    color: black;
    font-size: 20px;
    background-color: black;
     color: white;
     margin-top: 0px;
}
.section1 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    background-color: blanchedalmond;
}
.div1, .div2 {
    background-color: rgba(255, 235, 205, 0.831);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 0 10px;
}
.tr1{
    text-align: center;
    color: blue;
    font-size: 15px;
}
.section2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    
}
.tr4{
    text-align: center;
    color: red;
} 
.div1 {
    display: flex;
background-color: thistle;
}
sec4{
    display: flex;
    justify-content: space-around;

}
red{
    display: flex;
    justify-content: space-around;  
}
div6{
    display: flex;
    background-color: rgba(255, 235, 205, 0.831);
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 0 10px;
}